* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
@font-face { 
    font-family: "Groundation"; 
    src: url("./assets/fuente/Groundation\ Foundation.ttf"); 
} 
@font-face { 
    font-family: "Balance"; 
    src: url("./assets/fuente/Balance\ Groovy\ -\ Sans.ttf"); 
}
/*-------------Body----------------*/
body {
    background-color: black !important;
}
/*--------------Navbar--------------*/
.navbar   {
    background-color: rgb(228, 94, 118) !important;
}
/*Navbar items*/
.nav-item {
    color: azure;
}
/*hover en redes sociales del footer*/
.iconsFooter a:hover {
    transform: scale(1.2); 
}
/*propiedades para el dropdown de top10*/
.dropdown-menu {
    background-color: rgb(228, 94, 118)  !important;
}
.logo {
    width: 100px;
}
/*------------Footer-----------------*/
footer {
    background-color: rgb(228, 94, 118)  !important;
    color: black;
}

.fa-brands {
    color: black;
    font-size: 30px;
    margin: 10px;
}
/*links*/
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/*iconos del footer*/
.iconsFooter {
    align-items: center;
    display: flex;
    justify-content: center;
}

.footerInformacion h5 {
    color: black;
}
.footerInformacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
/*iconos de redes sociales del footer*/
.fa-brands {
    width: 25px;
}
/*texto del footer*/
h5 {
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
    color: white;
}
/*-------------------video miami-------------------*/
.videoMiami {
   position: relative;
}

.videoContainer {
    margin-top: 0px;
    height: fit-content;
    position: relative;
}

.discovering {
    font-size:90px;
    font-family: Groundation;
    color:rgb(228, 94, 118);
    text-align: center;
    position: absolute;
    z-index: 10000000;
    top: 30%;
    left: 50%;
    transform:translate(-50%,-50%)  ;
}

.titulosPrincipales {
    text-align: center; 
    color: white; 
    font-size: 80px;
    font-family: Groundation ;
    margin: 20px;
}
.Tittle_type {
    text-align: center; 
    color: white; 
    font-size: 40px;
    font-family:Balance ;
    margin: 20px;
}
/*---------------Main------------------*/
/*carruosel boostrap*/
.containerCarrousel {
    max-width: 800px; 
    display: flex;
    margin: auto; 
}
#demo {
    max-height: 500px;
    margin: 40px; 
}
.carousel-item img {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
}
.subtituloMiami {
    color: rgb(231, 159, 159);    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px 0px;
    font-family: Balance;
}
/*------- Fotos de la pagina principal con enlaces a secciones---------- */
.names__Sections {
    font-size: 22px;
}
.galeria {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,500px);
    grid-gap: 40px;
    max-width: 1300px;
    margin:auto;
    margin-bottom: 60px;
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6";
}
.items__sections {
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}
.items__sections img {
    width: 100%; 
    height: auto; 
}
.item1 {
    grid-area: img1;
    background-image:url(./assets/inicio/miami4.jpg);
}
.item1:hover {
    transform: scale(1.09);
    transition-duration: 300ms;
}
.item2 {
    grid-area: img2;
    background-image:url(./assets/inicio/miami5.jpg);
}
.item2:hover {
    transform: scale(1.09);
    transition-duration: 300ms;
}
.item3 {
    grid-area: img3;
    background-image:url(./assets/gastronomy/portada.jpg);
}
.item3:hover {
    transform: scale(1.09);
    transition-duration: 300ms;
}
.item4 {
    grid-area: img4;
    background-image:url(./assets/Shopping/brickel/brickel2.jpg);
}
.item4:hover {
    transform: scale(1.09);
    transition-duration: 300ms;
}
.item5 {
    grid-area: img5;
    background-image:url(./assets/culture/havana/littleH.jpg);
}
.item5:hover {
    transform: scale(1.09);
    transition-duration: 300ms;
}
/*----------------------PAGE TRANSPORT----------------------*/
/* parallax  */
.parallaxTransport {
    background-image: url("./assets/transoport/portada.jpg" );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 50px;
}
.parallaxTransport h1 {
    text-align: center; 
    color: white; 
    padding-top: 200px; 
    font-size: 60px;
    font-family: Groundation ;
}
p {
    color: white;
    font-size: 20px;
}
.introductionTransport {
    margin: 30px;
    padding: 20px;
    text-align: center;    
}
/*---------info de los transportes-----------*/
.CardGeneral {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,600px);
    grid-template-rows: repeat(2,320px);
    margin: 40px;
}
div .CardTransport {
    background-color: rgb(231, 159, 159);
    gap: 10px 90px ;
    border-radius: 30px;
    margin: 20px;
    border: 5px solid rgb(228, 94, 118);
}
.CardTransport p {
    text-align: center;
    margin: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.CardTransport h2 {
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family:Balance ;
}
/*-------fotos de los transportes--------*/
.photosGeneral {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
}
.photosTransport {
    width: 600px;
    height: 350px;
    object-fit: cover;
}
/*titulos de los transportes*/
h4 {
    font-size: 28px;
    color: white;
    text-align: center;
}
.TitleTransport {
    text-align: center;
    font-size: 40px;
    color: white;
}

/*----------------------------ACTIVITIES--------------------*/
/*Titulo de la pagina actividades*/
.titleActivities {
    font-size: 35px;
    text-align: center;
    color: white;
    margin: 20px;
}
.ActivitiesCards  {
    display: inline
}
.Activitiesinfo {
    display: flex;
    text-align: center;
    margin: 20px;
}

.imagenActivities {
    width: 400px;
    height: 250px;
}

.ActivitiesInformacion h3 {
    color:white;
    font-size: 40px;
    text-align: center; 
    margin: 20px;    
    font-family:Balance ;

}
.ActivitiesInformacion p {
    font-size: 18px;
    text-align: left; 
    margin: 20px;
}
/*-------SUBPAGINAS----*/
/*boxes actividades*/
.box1Activities {
    border: 5px solid rgb(228, 94, 118);
    background-color: rgb(231, 159, 159);
    border-radius: 9px;
    width: 900px;
    margin-right: auto;

    margin-left: 20px;
}

.box2Activities {
    border: 5px solid rgb(228, 94, 118);
    background-color: rgb(231, 159, 159);
    border-radius: 9px;
    width: 900px;
    margin-left: auto;
    margin-right: 20px; 
}
.box1 {
    margin: 15px;
    padding: 15px;
    border-radius: 9px;
}
.box2 {
    margin: 20px;
    padding: 20px;
    border-radius: 9px;
}
/*iframe ubicacion de actividades*/
.containerIframe {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.Map {
    margin: 10px;
}
/*---subpagina everglades----*/
.parallaxEverglades {
    background-image: url("./assets/activities/EVERGLADES/portada.jpg" );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 50px;
}
.parallaxEverglades h1 {
    text-align: center; 
    color: white; 
    padding-top: 200px; 
    font-size: 45px;
    text-shadow: 3px 3px 5px black;
    font-family: Groundation ;
}
/*imagenes de everglades */
.galeryEverglades {
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(2,300px);
    justify-content: center;    
    grid-template-areas: 
    "img1 img2"
    "img3 img4";
}
.galery_section{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px 4000px;
}
.photo1 {
    background-image: url(./assets/activities/EVERGLADES/everglades2.jpeg);
    background-size: cover;
    margin: 20px;
}
.photo2 {
    background-image: url(./assets/activities/EVERGLADES/everglades3.jpg);
    background-size: cover;
    margin: 20px;
}
.photo3 {
    background-image: url(./assets/activities/EVERGLADES/everglades.jpg);
    background-size: cover;
    margin: 20px;
}
.photo4 {
    background-image: url(./assets/activities/EVERGLADES/everglades5.jpg);
    background-size: cover;
    margin: 20px;
}
/*---subpagina night party cruise---- */
.parallaxNightParty{
    background-image: url("./assets/activities/boat/boat4.jpg" );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 50px;
}
.parallaxNightParty h1 {
    text-align: center; 
    color: white; 
    padding-top: 200px; 
    font-size: 60px;
    text-shadow: 3px 3px 5px black;
    font-family: Groundation ;
}
/*fotos night party*/
.galeryNightParty {
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(2,300px);
    justify-content: center;    
    grid-template-areas: 
    "img1 img2"
    "img3 img4";
}
.foto1 {
    background-image: url(./assets/activities/boat/boat1.jpg);
    background-size: cover;
    margin: 20px;
}
.foto2 {
    background-image: url(./assets/activities/boat/boat2.jpg);
    background-size: cover;
    margin: 20px;
}
.foto3 {
    background-image: url(./assets/activities/boat/boat3.jpg);
    background-size: cover;
    margin: 20px;
}
.foto4 {
    background-image: url(./assets/activities/boat/portada.jpg);
    background-size: cover;
    margin: 20px;
}
/* -----------------PAGINA CELEBRITIES BOAT-----------------*/
/*parallax celebrities boat */
.parallaxCelebrities {
    background-image: url("./assets/activities/celebrities/barco.jpg" );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 50px;
}
.parallaxCelebrities h1 {
    text-align: center; 
    color: white; 
    padding-top: 200px; 
    font-size: 60px;
    text-shadow: 3px 3px 5px black;
    font-family: Groundation ;
}
/*fotos actividades celebrities boat*/
.galeryCelebrities {
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(2,300px);
    justify-content: center;    
    grid-template-areas: 
    "img1 img2"
    "img3 img4";
}
.items1 {
    background-image: url(./assets/activities/celebrities/barco.jpg);
    background-size: cover;
    margin: 20px;
}
.items2 {
    background-image: url(./assets/activities/celebrities/barco1.jpg);
    background-size: cover;
    margin: 20px;
}
.items3 {
    background-image: url(./assets/activities/celebrities/barco2.jpg);
    background-size: cover;
    margin: 20px;
}
.items4 {
    background-image: url(./assets/activities/celebrities/barco3.jpeg);
    background-size: cover;
    margin: 20px;
}
/* --------------------PAGINA OCEAN DRIVE--------------------*/
/*parallax ocean drive  */
.parallaxOcean {
    background-image: url("./assets/activities/ocean/ocean2.jpg" );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 50px;
}
.parallaxOcean h1 {
    text-align: center; 
    color: white; 
    padding-top: 200px; 
    font-size: 60px;
    text-shadow: 3px 3px 5px black;
    font-family: Groundation ;

}
/*fotos actividades oceaan*/
.galeryOcean {
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(2,300px);
    justify-content: center;    
    grid-template-areas: 
    "img1 img2"
    "img3 img4";
}
.it1 {
    background-image: url(./assets/activities/ocean/ocean3.jpg);
    background-size: cover;
    margin: 20px;
}
.it2 {
    background-image: url(./assets/activities/ocean/ocean4.jpg);
    background-size: cover;
    margin: 20px;
}
.it3 {
    background-image: url(./assets/activities/ocean/ocean5.jpg);
    background-size: cover;
    margin: 20px;
}
.it4 {
    background-image: url(./assets/activities/ocean/ocean6.jpg);
    background-size: cover;
    margin: 20px;
}
/*-----------------------PAGINA CONTACT-----------------------*/
.parallaxContact {
    background-image: url("./assets/COMUNICATE.jpg" );
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 50px;
}
.parallaxContact h1 {
    text-align: center; 
    color: white; 
    padding-top: 200px; 
    font-size: 60px;
    text-shadow: 3px 3px 5px black;
    font-family: Groundation ;
}
.map {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.whatsapp {
    height: 70px;
    width: 70px;
    background-color: rgb(169, 235, 89);
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
/*---------------------------PAGINA BEACH--------------------*/
/*paralax beach*/
.parallaxBeach {
    background-image: url("./assets/beach/portadaBeach.jpg" );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-bottom: 50px;
}
.parallaxBeach h1{
    text-align: center; 
    color: white; 
    padding-top: 200px; 
    font-size: 80px;
    text-shadow: 2px 2px 2px black;
    font-family: Groundation ;
}
/*cards con info de las playas y fotos*/
.Beaches {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}
.Beaches_info {
    background-color: rgb(228, 94, 118);
    width: 650px;
    margin-bottom: 40px;
    margin-left: 20px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}
.Beaches_info_img {
    
    width: 650px;
    margin-bottom: 40px;
    margin-left: 20px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}
.Beaches_info_img img {
    width: 100%;
    height: 100%;
    border-radius: 20px
}
.Beaches_info h1 {
font-family: Groundation ;
}
.Beaches_info p{
    font-size: 20px;
    color: #000;
}

/*hover blanco y negro de las fotos de beach*/
.Beaches_info_img img:hover {
    filter: grayscale(100%);
    transition-duration: 300ms;
}
/*-----------------------NIGHT LIFE-----------------------*/
.parallaxNightLife {
    background-image: url("./assets/nightLife/portada.jpg" );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 50px;
}
.parallaxNightLife  h1{
    text-align: center; 
    color: white; 
    padding-top: 200px; 
    font-size: 80px;
    text-shadow: 2px 2px 2px black;
    font-family: Groundation ;
}
/*tarjetas de night life*/
.places {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    align-items: center;
}
.nightBox{
    display: flex;
    gap: 50px;
    margin: 20px;
    border: 5px solid rgb(228, 94, 118);
    background-color: rgb(231, 159, 159);
    flex-wrap: wrap;
    border-radius: 10px;
    text-align: center; 
}
.nightBox h2 {
    color: black;
    margin-top: 20px;
    font-family: Balance;
}
.nightBox p {
    margin: 20px;
    color: black;
}
.nightBox div {
    width: 800px;
}
/*------------------SHOPPING--------------*/
/* parallax  */
.parallaxShopping {
    background-image: url("./assets/Shopping/brickel/brickel4.jpg" );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 50px;
}
.parallaxShopping h1 {
    text-align: center; 
    color: white; 
    padding-top: 200px; 
    font-size: 60px;
    font-family: Groundation ;
}
/*fotos de shoppings*/
.shoppings {
    display: flex;
    flex-direction: column;
    align-items: center;    
    object-fit: cover;
}
.photoShopping {
    position: relative;
    width: 800px;
    height: auto;
    margin-bottom: 20px;
}
.photoShopping img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}
.shop1:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
/*titulos de las fotos de shopping*/
.titlesShop {
    font-family: Groundation ;
    color: rgb(228, 94, 118);
    font-size: 60px;
    text-shadow: 4px 1px 1px black;
    position: absolute;
    bottom: 10px; 
    display: flex;
}
/* sub paginas de shopping*/
.cardShoppings {
    display: flex;
    flex-direction: column; 
    align-items: left;
    width: 100%;
}
.cardContent {
    display: flex;
    gap: 50px;
    width: 95%;
    justify-content: space-between;
    padding-top: 30px; 
    padding-bottom: 30px;
    margin-left: 25px;
}
.cardInformacion {
    border: 5px solid rgb(228, 94, 118);
    background-color: rgb(231, 159, 159);
    border-radius: 10px;
    width: 850px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgRight {
    width: 800px;
    height: auto;
}
/*efecto en imagenes azul */
.imgRight:hover {
    transform: scale(1.09);
    transition: 300ms; 
}

/*---------------PAGINA CULTURA--------------------*/ 
.container-siblings{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.sibling {
    transition: transform 200ms, filter 200ms;
    width: 37%;
    margin: 20px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0, 0,5);
    border-radius: 10px;
}
.sibling img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sibling:hover {
    transform: scale(1.1);
}
.container-siblings:has(.sibling:hover) > .sibling:not(:hover) {
    filter: brightness(0.5) saturate(0.5) contrast(0.5) blur(1px);
    transform: scale(0.9);
}
/*subpagina de culture Little Havana*/
.bg-1 {
    background-image:url(./assets/culture/havana/havana4.jpg) ;
}
.bg-2 {
    background-image:url(./assets/culture/havana/havana5.jpg) ;
}
.bg-3 {
    background-image:url(./assets/culture/havana/havanna6.jpg) ;
}
.bg-4 {
    background-image:url(./assets/culture/havana/havnna.jpeg) ;
}
.wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.parent {
    width: 37%;
    margin: 20px;
    height: 460px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0, 0,5);
    border-radius: 10px;
}
.child {
    height: 100%;
    background-size: cover;
    transition: all 0.8s;
}
.parent:hover .child {
    transform: scale(1.2);
}
.contenedorCultura {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cardCulture {
    border: 5px solid rgb(228, 94, 118);
    background-color: rgb(231, 159, 159);
    width: 900px;
}
.cardCulture1 {
    border: 5px solid rgb(228, 94, 118);
    background-color: rgb(231, 159, 159);
    width: 900px;
    margin-left: auto;
}
/*subpagina de culture museum phillip*/
.bg-five {
    background-image:url(./assets/culture/Phillip/mmuseo1.jpg) ;
}
.bg-six {
    background-image:url(./assets/culture/Phillip/mmuseo2.jpeg) ;
}
.bg-seven {
    background-image:url(./assets/culture/Phillip/mmuseo3.jpg) ;
}
.bg-eight {
    background-image:url(./assets/culture/Phillip/mmuseo4.jpg) ;
}
/*subpagina de culture museum */
.bg-uno {
    background-image:url(./assets/culture/museum/fotoPortada.png) ;
}
.bg-dos {
    background-image:url(./assets/culture/museum/mueseo1.jpg) ;
}
.bg-tres {
    background-image:url(./assets/culture/museum/mueseo3.jpg) ;
}
.bg-cuatro {
    background-image:url(./assets/culture/museum/museo4.jpg) ;
}
/*subpagina de  Wynwood Walls */
.bg-cinco {
    background-image:url(./assets/culture/walls/wallMiami.jpg) ;
}
.bg-seis {
    background-image:url(./assets/culture/walls/walls1.jpg) ;
}
.bg-siete {
    background-image:url(./assets/culture/walls/walls2.jpg) ;
}
.bg-ocho {
    background-image:url(./assets/culture/walls/walls3.jpg) ;
}
/*--------------------------Page Gastronomy------------------------*/
.wrapper1 {
    display: flex;
    justify-content: space-around;
    margin: 60px;
}
.card_wrapper {
    width: 700px;
    height: 500px;
    padding: 2rem 1rem;
    background-color: black;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0,5s ease-in-out;
}
.card_wrapper:hover {
    transform:  translateY(20px);
}
.card_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(100, 93, 226, 0.5), rgb(135, 136, 134));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;    
}
.card_wrapper:hover:before {
    opacity: 1;
}
.card_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card_wrapper .informacion_card_wrapper {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card_wrapper:hover .informacion_card_wrapper {
    opacity: 1;
    transform: translateY(0px);
}
.card_wrapper .informacion_card_wrapper h1 {
    margin: 0;
    font-family:Balance ;
}
.card_wrapper .informacion_card_wrapper p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;  
}
.card_wrapper .informacion_card_wrapper .btn{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;    
}
.card_wrapper .informacion_card_wrapper .btn_wrapper{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background:rgb(228, 94, 118);
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
/*subpaginas de gastronomy*/
/*azul*/
.galeryGastronomy {
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(2,300px);
    justify-content: center;    
    grid-template-areas: 
    "img1 img2"
    "img3 img4";
}
.sec1 {
    background-image: url(./assets/gastronomy/azul/azul1.jpg);
    background-size: cover;
    margin: 20px;
}
.sec2 {
    background-image: url(./assets/gastronomy/azul/azul2.jpg);
    background-size: cover;
    margin: 20px;
}
.sec3 {
    background-image: url(./assets/gastronomy/azul/azul3.jpg);
    background-size: cover;
    margin: 20px;
}
.sec4 {
    background-image: url(./assets/gastronomy/azul/azul4.jpeg);
    background-size: cover;
    margin: 20px;
}
/*efecto en imagenes azul */
.sec1:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sec2:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sec3:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sec4:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
/*Elcielo Restaurant imagenes*/
.sect1 {
    background-image: url(./assets/gastronomy/elCielo/cielo.jpg);
    background-size: cover;
    margin: 20px;
}

.sect2 {
    background-image: url(./assets/gastronomy/elCielo/restaurasnt.png);
    background-size: cover;
    margin: 20px;
}
.sect3 {
    background-image: url(./assets/gastronomy/elCielo/cielo4.jpg);
    background-size: cover;
    margin: 20px;
}
.sect4 {
    background-image: url(./assets/gastronomy/elCielo/cielo3.jpg);
    background-size: cover;
    margin: 20px;
}
/*efecto en imagenes elcielo*/
.sect1:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sect2:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sect3:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sect4:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
/*gabbiano Restaurant imagenes*/
.sec5 {
    background-image: url(./assets/gastronomy/ganiano/gabbiano.jpg);
    background-size: cover;
    margin: 20px;
}
.sec6 {
    background-image: url(./assets/gastronomy/ganiano/gabianio2.jpg);
    background-size: cover;
    margin: 20px;
}
.sec7 {
    background-image: url(./assets/gastronomy/ganiano/gabiano1.jpeg);
    background-size: cover;
    margin: 20px;
}
.sec8 {
    background-image: url(./assets/gastronomy/ganiano/ganiano3jpg.jpg);
    background-size: cover;
    margin: 20px;
}
/*efecto en imagenes gabbiano*/
.sec5:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sec6:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sec7:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sec8:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
/*lamarRestaurant imagenes*/
.sect5 {
    background-image: url(./assets/gastronomy/lamar/lamar4.jpg);
    background-size: cover;
    margin: 20px;
}
.sect6 {
    background-image: url(./assets/gastronomy/lamar/lamar3.jpg);
    background-size: cover;
    margin: 20px;
}
.sect7 {
    background-image: url(./assets/gastronomy/lamar/lamar2.jpg);
    background-size: cover;
    margin: 20px;
}
.sect8 {
    background-image: url(./assets/gastronomy/lamar/laMar1.png);
    background-size: cover;
    margin: 20px;
}
/*efecto en imagenes elcielo*/
.sect5:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sect6:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sect7:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
.sect8:hover {
    transform: scale(1.09);
    transition: 300ms; 
}
/*------------------MEDIA QUERYS DE TODAS LAS PAGINAS----------------*/
/*---------------------------------------------------MAIN---------------*/
@media (max-width: 1350px)  { 
    .galeria{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,440px);
        max-width: 900px;
        background-position: cover;
        grid-template-areas: 
        "img1 img2"
        "img3 img4" 
        "img5 img6";
    }  
    .items__sections a {
        text-shadow: 2px 2px 1px rgb(0, 0, 0);
    }
    .carousel {
        max-width: 700px; 
        display: block; 
    }
} 
@media (max-width: 960px)  { 
    .galeria{
        grid-template-columns: repeat(1,290px);
        grid-template-rows: repeat(5,300px);
        justify-content: center;
        grid-template-areas: 
        "img1" 
        "img2"
        "img3" 
        "img4" 
        "img5"
        "img6";
    }  
    .discovering {
        font-size: 45px;
    }
    .subtituloMiami {
        font-size: 20px;
    } 
    .carousel-item img {
        height: 300px; 
    align-items: center;    
    }
}
/*---------BEACH-----------*/
@media screen and (max-width: 1300px) {
    .Beaches {
        flex-direction: column;
    }
}
@media screen and (max-width: 700px) {
    .Beaches_info_img {
        width: 360px;
    }
    .Beaches_info{
        width: 350px;
    }
    .Beaches_info p{
        font-size: 13px;
    }
}
/*----Night life -----*/
@media (max-width: 860px)  { 
    .nightBox {
        width: 300px;
    }
    .nightBox h2 {
        font-size: 17px;
    }
    .nightBox p  {
        font-size: 14px;
    }
    .mediaQNight {
        width: 250px;    
    }
}
@media (max-width: 1259px){ 
    .mediaQNight {
        width: 250px;
        display: block;
        margin: 0 auto;     
    }
}
/*-----------Transport-----------*/
@media (max-width: 1482px)  { 
    .photosGeneral {
        display: flex;
        flex-direction: column;
    }
    .CardGeneral {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        justify-content: center;    
        }
}
@media (max-width: 630px)  {
    .CardGeneral {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        } 
    .photosTransport { 
        width: 290px ;
        height: 250px;
    }
    .CardTransport p {
        font-size: 15px;
    }
    .TitleTransport {
        font-size: 22px;
    }
     p {
        font-size: 14px;
    }
}
/*--------Activities----------*/
@media (max-width: 827px)  { 
    .Activitiesinfo {
        flex-direction: column;
    }
}
@media (max-width: 420px)  { 
    .imagenActivities {
        width: 250px;
        height: 200px;
    }
}
/*media query de activities-ocean drive*/
@media (max-width: 900px)  { 
    .box1Activities  {
        width: 300px;
    }
    .box2Activities{
        width: 300px; 
    }
    .box1 p {
        font-size: 15px;
    }
    .box2 p{
        font-size: 15px;
    }
    .galeryOcean {
        display: grid;
        grid-template-columns: repeat(1,300px);
        grid-template-rows: repeat(4,300px);
        grid-template-areas: 
        "img1" 
        "img2"
        "img3"
        "img4";
    }
}
/*media query de activities-celebrities boat tour*/
@media (max-width: 830px)  { 
    .galeryCelebrities {
        grid-template-columns: repeat(1,300px);
        grid-template-rows: repeat(4,300px);
        grid-template-areas: 
        "img1" 
        "img2"
        "img3"
        "img4";
        }
}
/*media query de activities-everglades*/
@media (max-width: 830px)  { 
    .galeryEverglades {
        grid-template-columns: repeat(1,300px);
        grid-template-rows: repeat(4,300px);
        grid-template-areas: 
        "img1" 
        "img2"
        "img3"
        "img4";
    }
}
/*media query de activities-night party cruise in miami*/
@media (max-width: 830px)  { 
    .galeryNightParty {
        grid-template-columns: repeat(1,300px);
        grid-template-rows: repeat(4,300px);
        grid-template-areas: 
        "img1" 
        "img2"
        "img3"
        "img4";
    }
}
/*media querys cultura*/
@media screen and (max-width: 1000px) {
    .sibling {
        width: 500px;
        height: 300px;
    }
}
@media screen and (max-width: 512px) {
    .sibling {
        width: 280px;
        height: 200px;
    }
}
/*media querys sub-paginas de cultura*/
@media screen and (max-width: 1503px) {
    .parent {
        height: 300px;
        width: 400px;
    }
}
@media screen and (max-width: 908px) {
    .cardCulture {
        width: 400px;
    }
    .cardCulture1 {
        width: 400px;
    }
    .titulosPrincipales {
        font-size: 65px;
    }
}
@media screen and (max-width: 456px) {
    .parent {
        height: 190px;
        width: 300px;
    }
    .cardCulture {
        width: 290px;
    }
    .cardCulture1 {
        width: 290px;
    }
}
/*----------GASTRONOMY------------*/
@media screen and (max-width: 1300px) {
    .wrapper1 {
        height: 800px;
        width: 200px;
        flex-direction: column;
    }
}
@media screen and (max-width: 754px) {
    .wrapper1 {
        height: 500px;
        width:300px;
    }
    .card_wrapper {
        width: 300px;
    }
    .card_wrapper img {
        width: 300px;
    }
    .card_wrapper::before {
        width: 300px;
    }
    .titulosPrincipales {
        font-size: 30px;
    }
}
/*subpaginas de gastronomy*/
@media screen and (max-width: 754px) {
    .galeryGastronomy {
        grid-template-columns: repeat(1,300px);
        grid-template-rows: repeat(4,300px);
        grid-template-areas: 
        "img1" 
        "img2"
        "img3"
        "img4";
    }
}
/*----------SHOPPINGS------------*/
@media screen and (max-width: 860px) {
    .titlesShop {
      font-size: 40px;
    }
    .photoShopping {
        width: 500px;
    }
}
@media screen and (max-width: 516px) {
    .titlesShop {
      font-size: 30px;
    }
    .photoShopping {
        width: 300px;
    }
}
/*----sub-paginas shopping----*/
@media screen and (max-width: 1460px) {
    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cardInformacion {
        width: 500px;
    }
    .imgRight {
        width: 700px;
    }
}
@media screen and (max-width: 732px) {
    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cardInformacion {
        width: 300px;
    }
    .cardInformacion p {
        font-size: 15px;
    }
    .imgRight {
        width: 290px;
    }
}
/*-----------CONTACT------------*/
@media screen and (max-width: 1343px) {
   .map  {
        flex-direction: column;
        align-items: center;   
    }
    .map iframe  {
        width: 6500px;
    }
}
@media screen and (max-width: 927px) {
    .parallaxContact {
        background-position: cover;
    }
    .mapContact  {
        width: 290px;

    }
}























